<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Js</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

	<header>
		<nav>
        	<button class="bottons"><a href="reto1.html">Reto 1</a></button>
        	<button class="bottons"><a href="reto2.html">Reto 2</a></button>
        	<button class="bottons"><a href="reto3.html">Reto 3</a></button>
			<button class="bottons"><a href="reto4.html">Reto 4</a></button>
			<button class="bottons"><a href="reto5.html">Reto 5</a></button>
			<button class="bottons"><a href="reto6.html">Reto 6</a></button>

			<button class="bottons11"><a href="tabla.html">tabla de eventos</a></button>
			<button class="bottons1"><a href="../views/modales.html">Perfil</a></button>
		</nav>
	</header>
<body>
	<H1>CAMILO ANDRES SUAREZ RUBIO</H1>
	<H2>ficha: 2687390</H2>
	<img src="../img/bisho.jpg" alt="siu">

</body>
</html>