<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modal.css">
</head>

<body>
    <div class="axd"><a href="index.html">volver</a></div>
    <button id="abrirmodal">lanzar modal</button>
    
    <div id="ventanamodal" class="modal">
        <div class="contenidomodal">
            <button class="cerrarmodal">X</button>
            <span class="cerrarmodal"> <i class="fa-solid fa-xmark"></i> </span>
            <h2>Mi perfil</h2>
            <input type="button" value="privacy policy">
            <input type="button" value="edit profile">
            <input type="button" value="preferences">
            <img src="../img/mesi.webp" alt="grande">

        </div>
    </div>

    <script src="../js/modal.js"></script>
</body>

</html>