<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reto 5</title>
    <link rel="stylesheet" href="../css/reto5.css">
</head>

<body>
    <div class="axd"><a href="index.html">volver</a></div>
    <h1>FIGURAS GEOMETRICAS</h1>
    <div class="fichitas">

        <div class="card1">
            <img class="circulo" src="../img/circle.webp" alt="circulo">
            <div class="card-body">
                <h3 class="h3circ">Circulo</h3>
                <button class="abrirmodal">Perimetro</button>
                <button class="abrirmodala1">Area</button>
            </div>
        </div>

        <div class="card2">
            <img class="triangulo" src="../img/triangle.png" alt="triangulo">
            <div class="card-body">
                <h3 class="h3tria">Triangulo</h3>
                <button class="abrirmodaltr">perimetro</button>
                <button class="abrirmodala2">Area</button>
            </div>
        </div>

        <div class="card3">
            <img class="cuadrado" src="../img/cuadrado.png" alt="cuadrado">
            <div class="card-body">
                <h3 class="h3cuadra">Cuadrado</h3>
                <button class="abrirmodalcu">Perimetro</button>
                <button class="abrirmodala3">Area</button>
            </div>
        </div>

        <div class="card4">
            <img class="rectangulo" src="../img/rectangle.png" alt="rectangulo">
            <div class="card-body">
                <h3 class="h3rect">Rectangulo</h3>
                <button class="abrirmodalre">Perimetro</button>
                <button class="abrirmodala4">Area</button>
            </div>
        </div>
    </div>

    <!--perimetros-->

    <!--circulo-->
    <div id="ventanamodal" class="modal">
        <div class="contenidomodal">
            <button class="cerrarmodal">X</button>
            <span class="cerrarmodal"> <i class="fa-solid fa-xmark"></i> </span>
            <h4>perimetro de Circulo</h4>
            <label for="r">Digite el radio</label>
            <input type="text" id="r" name="r">
            <button id="calcularpcir(r)" onclick=calcularpcir(event)>Calcular</button>
        </div>
    </div>

    <!--triangulo-->
    <div id="ventanamodaltr" class="modaltr">
        <div class="contenidomodaltr">
            <button class="cerrarmodaltr">X</button>
            <span class="cerrarmodaltr"> <i class="fa-solid fa-xmark"></i> </span>
            <h4>perimetro de triangulo</h4>

            <label for="m">Digite medida 1</label>
            <input type="m" id="m" name="m">

            <label for="m2">Digite medida 2</label>
            <input type="text" id="m2" name="m2">

            <label for="m3">Digite medida 3</label>
            <input type="text" id="m3" name="m3">

            <button id="calcularptri" onclick="calcularptri(event)">Calcular</button>
        </div>
    </div>


    <!--cuadrado-->
    <div id="ventanamodalcu" class="modalcu">
        <div class="contenidomodalcu">
            <button class="cerrarmodalcu">X</button>
            <span class="cerrarmodalcu"> <i class="fa-solid fa-xmark"></i> </span>
            <h4>perimetro de cuadrado</h4>

            <label for="mc1">Digite un lado de cuadrado</label>
            <input type="mc1" id="mc1" name="mc1">

            <button id="calcularptri" onclick="calcularpcua(event)">Calcular</button>
        </div>
    </div>


    <!--rectangulo-->
    <div id="ventanamodalre" class="modalre">
        <div class="contenidomodalre">
            <button class="cerrarmodalre">X</button>
            <span class="cerrarmodalcure"> <i class="fa-solid fa-xmark"></i> </span>
            <h4>perimetro de recta</h4>

            <label for="mr1">Digite un lado de rectangulo</label>
            <input type="mre1" id="mre1" name="mre1">

            <label for="mre2">Digite otro lado del rectangulo</label>
            <input type="mre2" id="mre2" name="mre2">

            <button id="calcularprect" onclick="calcularprect(event)">Calcular</button>
        </div>
    </div>







        <!--areas-->

    <!--circulo-->
    <div id="ventanamodalcia" class="modalcia">
        <div class="contenidomodalcia">
            <button class="cerrarmodalcia">X</button>
            <span class="cerrarmodalcia"> <i class="fa-solid fa-xmark"></i> </span>
            <h4>Area de Circulo</h4>
            <label for="rac">Digite el radio</label>
            <input type="text" id="rac" name="rac">
            <button id="calcularacir(r)" onclick=calcularacir(event)>Calcular</button>
        </div>
    </div>

    <!--triangulo-->
    <div id="ventanamodalatr" class="modalatr">
        <div class="contenidomodalatr">
            <button class="cerrarmodalatr">X</button>
            <span class="cerrarmodalatr"> <i class="fa-solid fa-xmark"></i> </span>
            <h4>Area de triangulo</h4>

            <label for="b">Digite base</label>
            <input type="b" id="b" name="b">

            <label for="h">Digite altura</label>
            <input type="text" id="h" name="h">

            <button id="calcularatri" onclick="calcularatri(event)">Calcular</button>
        </div>
    </div>


    <!--cuadrado-->
    <div id="ventanamodalacu" class="modalacu">
        <div class="contenidomodalacu">
            <button class="cerrarmodalacu">X</button>
            <span class="cerrarmodalacu"> <i class="fa-solid fa-xmark"></i> </span>
            <h4>Area de cuadrado</h4>

            <label for="mca1">Digite un lado de cuadrado</label>
            <input type="mca1" id="mca1" name="mca1">

            <button id="calcularacu" onclick="calcularacu(event)">Calcular</button>
        </div>
    </div>


    <!--rectangulo-->
    <div id="ventanamodalare" class="modalare">
        <div class="contenidomodalare">
            <button class="cerrarmodalare">X</button>
            <span class="cerrarmodalare"> <i class="fa-solid fa-xmark"></i> </span>
            <h4>Area de rectangulo</h4>

            <label for="mrea">Digite base del rectangulo</label>
            <input type="mrea" id="mrea" name="mrea">

            <label for="mrea1">Digite altura del rectangulo</label>
            <input type="mrea1" id="mrea1" name="mrea1">

            <button id="calculararect" onclick="calculararect(event)">Calcular</button>
        </div>
    </div>

    <script src="../js/reto5.js"></script>
</body>

</html>