<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>palabra</title>
    <link rel="stylesheet" href="../css/reto4.css">

</head>
<body>
    <div class="axd"><a href="index.html">volver</a></div>
    <div class="opcion">
      <h1>LISTA DE PROFESORES</h1>
  </div>
  <img id="img1" src="../img/diegocasasXD.jpg" alt="esdiegocasasxd">
  <img id="img2" src="../img/profe.jpg" alt="profe">
   <form class="xd">
        <div id="cuadrito">
        <select id="nombre"name="nombre">
        <option value="0">nombres</option>
        <option value="1">Jeniffer (la mejor profe)</option>
        <option value="2">Tatiana</option>
        <option value="3">Lorena</option>
        <option value="4">Uldarico</option>
        <option value="5">Jonathan</option>
        <option value="6">Margarita</option>
       </select>

       <select id="apellido"name="apellido">
       <option value="0"> apellidos </option>
       <option value="1">Fajardo</option>
       <option value="2">Cabrera</option>
       <option value="3">Medina</option>
       <option value="4">Andrade</option>
       <option value="5">Espitia</option>
       <option value="6">Guarin</option>
      </select>

      <select name="act" id="act">
        <option value="0">Actividades</option>
        <option value="1">Javascript</option>
        <option value="2">Java</option>
        <option value="3">Comunicacion</option>
        <option value="4">Python</option>
        <option value="5">Bases</option>
        <option value="6">Prototipado</option>

      </select>
    </div>
       <button id="calcular3(nombre)" onclick=calcular3(event)>JUNTAR</button>
  </form>

    <script src="../js/reto4.js"></script>

</body>
</html>