<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reto 3</title>
    <link rel="stylesheet" href="../css/reto3.css">
</head>

<body>
    <div class="axd"><a href="index.html">volver</a></div>
    <h1>¿QUE TIPO DE TRIANGULO ES?</h1>
    <img id="triangulos" src="../img/tdt.jpg" alt="triangulos">
    <img id="triangulos2" src="../img/tr1.jpg" alt="tr1">
    <div class="cuadrito">

        <label for="m1">Digite la primer medida</label>
        <input type="text" id="m1" name="m1">

        <label for="m2">Digite la segunda medida</label>
        <input type="text" id="m2" name="m2">

        <label for="m3">Digite la tercer medida</label>
        <input type="text" id="m3" name="m3">
    </div>

    <button id="calcular2(m1)" onclick=calcular2(event)>Tipo de triangulo</button>

    <script src="../js/reto3.js"></script>
   
</body>

</html>