body{
    background: url(../img/fondo_3.png);
}


.tablaxd {
    background-color: rgb(145, 115, 200);
    position: relative;
    left: 650px;
    top: 150px;
    margin: 10px;
    padding: 1px;
    font-size: 20px;
    border-color: black;
    height: 500px;
    width: 500px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

tr {
    border: 1px solid;
    background-color: rgb(255, 255, 255);
}

.axd{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
	border-radius: 20px;
    font-size: 20px;
    width: 60px;
    align-items: center;
    border-radius: 10px;
    border: solid rgba(71, 68, 177, 0.45);
}
#img{
    position: relative;
    left: 100px;
    height: 300px;
    width: 500px;
    top: -320px;
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.45);
}

.texto{
    background-color: rgba(226, 222, 233, 0.468);
    position: relative;
    left: 1250px;
    bottom: 650px;
    margin: 10px;
    padding: 1px;
    font-size: 20px;
    height: 300px;
    width: 500px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.45);

}

h1{
    font-size: 80px;
    position: relative;
    left: 550px;
    top: 80px;
    color: rgb(255, 255, 255);
    background-color: rgba(106, 122, 122, 0.431);
    width: 800px;
    text-align: center;
}